body {
    font-family: comic sans ms; verdana, sans-serif;
    font-size: 18px;
    background-color: rgb(191, 109, 230);
    text-align: center;
  }
      
  ol {
    display: inline-block;
    text-align: left;
  }
  
  ul {
    display: inline-block;
    text-align: left;
  }
  
  li {
    text-align: left;
  }
  
  @media only screen and (max-width: 600px) {
    img {
      width: 400px;
    }
  }