body {
  font-family: comic sans ms; verdana, sans-serif;
  font-size: 18px;
  background-color: rgb(218, 218, 218);
  text-align: center;
  background-image: url("paper.gif");
}
  
ol {
  display: inline-block;
  text-align: center;
}

ul {
  display: inline-block;
  text-align: center;
}

li {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  img {
    width: 400px;
  }
}

button {
  border-radius: 5px;
  padding: 8px;
  font-family: comic sans ms; verdana, sans-serif;
  font-weight: bold;
}