.menu li a {
    background-color: #dcf5d5;
}

.principal {
    background-color: #a9e0a4;
}

.cabecalho {
    background-color: #8fd68b;
}

.title {
    background-color: #a9e0a4;
}

body {
    background-image: url(../imgs/wpp-pcp.jpg);
    background-size: cover;
}

.sobre {
    background-color: #a9e0a4;
}

img {
    padding: 2%;
}