body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}


body {
background-color: #fffec7;
}

a {
    text-decoration: none;
}

img {
    width: 300px;
    height: 300px;
}

.cabecalho {
    background-color: #c5c490;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;siz
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    background-color: #e2e1ab;
    display: flex;
    padding: 10px;
    border-radius: 10px 20px;

}

.headline {
    display: flex;
    justify-items: center;
    gap: 60px;
    margin-bottom: 55px;
    margin-left: 40px;
    margin-right: 40px;
}

.headlinetopo {
    margin-top: 40px;
}

.headlinebase {
    margin-bottom: 40px;
}

.principal {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    padding: 20px;
    background-color: #a8a874;
    flex-direction: column;
    border-radius: 10px 30px;
    margin-bottom: 5%;
}

.principal .chamada {
    margin: 5px;
}

.artigos {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.artigos .secao {
    background-color: blue;
    color: white 
}

.logo {
    width: 25%;
    height: 25%;
    margin: 15px;
    margin-bottom: 10px;
    box-sizing: 1;
}

.cor {
    color: #000000;
}